.search-results {
    &__items {
        overflow-x: hidden;
        background: #FAFAFA;
        width: 100%;
        text-align: left;
        min-height: 100px;
        overflow: auto;
        overflow-y: hidden;
        overflow-scrolling: touch;
    }
}